
#msdynamics_config{
    overflow: hidden;
}


#msdynamics_config .col-section{
    float: left;
    width: 50%;
    padding: 0px 20px 20px 20px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

#msdynamics_config .col-section:first-child{
    padding-left: 0;
}


#msdynamics_config .col-section:last-child{
    padding-right: 0;
    float: right;
}


#msdynamics_config .section-results{
    background-color: #e0e0d8;
    padding: 10px;
    clear: both;
    max-height: 500px;
    overflow: auto;
}